
    <div id="messages" class="{{type}}" ng-show="message">{{ message }}</div>
    <form ng-submit="createCommand(formData)" class="form-horizontal" >
        <div id="vc-command" class="form-group" ng-class="{ 'has-error' : errorCommand }">
            <label class="col-sm-2 control-label">Voice command</label>
            <div class="col-sm-10">
                <input type="text" name="command" class="form-control" placeholder="open browser" ng-model="formData.command">
                <span class="help-block {{type}}" ng-show="errorCommand">{{ errorCommand }}</span>
            </div>
        </div>

        <div id="vc-question" class="form-group" ng-class="{ 'has-error' : errorQuestion }">
            <label class="col-sm-2 control-label">Supportive question</label>
            <div class="col-sm-10">
                <input type="text" name="question" class="form-control" placeholder="what would you like to search for" ng-model="formData.question">
                <span class="help-block {{type}}" ng-show="errorQuestion">{{ errorQuestion }}</span>
            </div>
        </div>

        <div id="vc-shell" class="form-group" ng-class="{ 'has-error' : errorShell }">
            <label class="col-sm-2 control-label">Execution script</label>
            <div class="col-sm-10">
              <textarea name="exec" class="form-control" placeholder="python -m webbrowser -t 'http://google.com/search?q=...'" ng-model="formData.exec"></textarea>
              <br>
              <sub>Please note [...] are being used as additional parameters processed by Jarvis when user respond to Supportive question </sub>
              <span class="help-block {{type}}" ng-show="errorShell">{{ errorShell }}</span>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span> Update!
        </button>

    </form>
