
    <div id="messages" class="{{type}}" ng-show="message">{{ message }}</div>
    <form ng-submit="editConfig(configFormData)" class="form-horizontal" >
        <div id="WelcomeText" class="form-group" ng-class="{ 'has-error' : errorWelcomeText }">
            <label class="col-sm-2 control-label">Welcome message</label>
            <div class="col-sm-10">
                <input type="text" name="welcomeText" class="form-control" placeholder="Hello Sir" ng-model="configFormData.welcomeText">
                <span class="help-block {{type}}" ng-show="errorWelcomeText">{{ errorWelcomeText }}</span>
            </div>
        </div>

        <div id="ownerName" class="form-group" ng-class="{ 'has-error' : errorOwner }">
            <label class="col-sm-2 control-label">Owner name</label>
            <div class="col-sm-10">
                <input type="text" name="owner" class="form-control" placeholder="John" ng-model="configFormData.owner">
                <span class="help-block {{type}}" ng-show="errorOwner">{{ errorOwner }}</span>
            </div>
        </div>
        <div id="voiceName" class="form-group" ng-class="{ 'has-error' : errorVoice }">
            <label class="col-sm-2 control-label">Voice name</label>
            <div class="col-sm-10">
                <select name="voice" class="form-control"  ng-model="configFormData.selectedOption" ng-options="option.name for option in configFormData.options">
                </select>
                <span class="help-block {{type}}" ng-show="errorVoice">{{ errorVoice }}</span>
            </div>
        </div>
        <div id="ownerEmail" class="form-group" ng-class="{ 'has-error' : errorEmail }">
            <label class="col-sm-2 control-label">Owner email</label>
            <div class="col-sm-10">
                <input type="text" name="email" class="form-control" placeholder="John@doe.com" ng-model="configFormData.email">
                <span class="help-block {{type}}" ng-show="errorEmail">{{ errorEmail }}</span>
            </div>
        </div>
        <div id="ownerPassword" class="form-group" ng-class="{ 'has-error' : errorPassword }">
            <label class="col-sm-2 control-label">Owner password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" ng-model="configFormData.password">
                <span class="help-block {{type}}" ng-show="errorPassword">{{ errorPassword }}</span>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span> Update!
        </button>

    </form>