    <div id="messages" class="{{type}}" ng-show="message">{{ message }}</div>
    <form ng-submit="uploadPlugin(myFile)" class="form-horizontal" >
       <div id="welcomeMsg" class="form-group" ng-class="{ 'has-error' : errorCommand }">
          <label class="col-sm-2 control-label">Plugin file</label>
            <div class="col-sm-10">
                <input type="file" file-model="myFile"/>
                <span class="help-block {{type}}" ng-show="errorCommand">{{ errorCommand }}</span>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">
          <span class="glyphicon glyphicon-flash"></span> Update!
        </button>
    </form>

