<div class="inside-container">
<tabset>
      <tab heading="New command">
          <div class="marketing">
              <div ng-include="'/views/partials/command-new.html'"></div>
          </div>
      </tab>
      <tab heading="Commands list" ng-click="refreshCommands()">
          <div class="marketing">
               <div ng-include="'/views/partials/command-list.html'"></div>
          </div>
      </tab>
      <tab heading="Upload Plugin">
          <div class="marketing">
            <div ng-include="'/views/partials/plugin.html'"></div>
          </div>
      </tab>
      <tab heading="General config" ng-click="refreshConfig()">
          <div class="marketing">
            <div ng-include="'/views/partials/general-config.html'"></div>
          </div>
      </tab>
     <tab heading="Remote Control">
         <div class="marketing">
           <div ng-include="'/views/partials/remote-control.html'"></div>
         </div>
     </tab>
</tabset>
</div>